.footer {
	height: 84px;
	background: #2D3E50;
}

.footer__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 84px;
}

.footer__logo {}

@media(max-width: 768px) {
	
}